.availability-section {
  margin-top: 40px;
}

/* header */
.availability-section-header {
  display: flex;
}

.availability-section-actions {
  margin-left: auto;
}

/* slider */
.availability-section-slider {
  margin-bottom: 24px;
}

/* items */

.availability-section-item {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: flex;
}

.availability-section-item-col {
  width: 33%;
  margin-right: 22px;
}

.availability-section-item-col:last-child {
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

/* col 1 */
.availability-section-item-title {
  margin-bottom: 24px;
}

.availability-section-item-validity {
  display: block;
  margin-bottom: 24px;
}

.availability-section-item-description {
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 1.5;
}

/* col 2 */
.availability-section-pax-btn {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.availability-section-pax-btn i {
  margin-right: 12px;
}

.availability-section-pax-btn > span {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.availability-section-pax-btn > span > span:first-child {
  font-size: 14px;
}

/* col 3 */
.availability-section-price-title {
  margin-bottom: 12px;
}

.availability-section-price-items {
}

.availability-section-price-item {
  display: flex;
  margin-bottom: 8px;
}

.availability-section-price-item dt {
  font-weight: normal;
}

.availability-section-price-item dd {
  margin-left: auto;
  text-align: right;
  white-space: nowrap;
  margin-bottom: 0;
}

.availability-section-price-total {
  border-top: 1px solid lightgray;
  margin-top: 8px;
  padding-top: 12px;
}

.availability-section-price-total dt {
  font-weight: 500;
}

.availability-section-price-total dd {
  font-weight: bold;
  font-size: 24px;
}

.availability-section-price-info {
  text-align: right;
  margin-bottom: 18px;
}

.availability-section-price-info li {
  color: var(--bs-success);
}

.availability-section-price-expiration-date {
  font-size: 14px;
}

.availability-section-action {
  margin-top: auto;
  align-self: end;
}

#passengerModal .dropdown_passenger_info {
  width: 80%;
  margin: 0 auto;
}

#passengerModal .passengers {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #8b3eea17;
  margin-bottom: 20px;
}

#passengerModal .passengers h6 {
  border-bottom: 1px solid #8b3eea17;
  padding-bottom: 10px;
}
/* responsive */

@media (max-width: 767px) {
  .availability-section-header {
    flex-direction: column;
    margin-bottom: 18px;
  }

  .availability-section-actions {
    margin-left: unset;
  }

  .availability-section-item {
    flex-direction: column;
  }

  .availability-section-item-col {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .availability-section-item-col:last-child {
    margin-bottom: 0;
  }

  #passengerModal .dropdown_passenger_info {
    width: 100%;
  }
}
